$navColor:rgba(252, 249, 249,0.6);
$mainColor: #d88e00;
$enlaceColor:#000;
$fontSize:1.3rem;
$font-size-rights: 0.6rem;
$point-md: 768px;
$font-weights: (
    extra-light: 200,
    light: 300,
    regular: 400,
    medium: 500,
    bold: 700
);